* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 450;
  color: #000;
  /* background: #3c4859 ; */
}

/* #C1292E */
/* #436436 */
.whiteText {
  color: white;
}

a {
  text-decoration: none;
  outline: none;
}

.activeLink {
  color: #03A9F4
}